.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-item-container {
    padding-top: 32px;
    padding-left: 16px;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
}

.portfolio-subtitle {
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.portfolio-text {
    padding-left: 16px;
    margin-bottom: 32px;
}